@model IEnumerable<Learning.WebSite.Models.ClassModel>

@{
    ViewBag.Title = "ClassList";
}

<h2>Class List</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassPrice)
            </td>           
        </tr>
    }

</table>