@model Learning.WebSite.Models.UserAddClass

@{
    ViewBag.Title = "EnrollInClass";
}


<h2>Enroll In Class</h2>
@using (Html.BeginForm())
{
    @Html.DropDownListFor(t => t.SelectedClassId, Model.Classes ) 

    <input type="submit" value="Add Class" />
}
