@model HttpCookie

@{
    Layout = null;
}

@if (Model != null)
{
    <p>Cookie Get</p>
    <p>Name: @Model.Name</p>
    <p>Value: @Model.Value</p>
    <p>Expires: @Model.Expires</p>
}
else
{
    <p>Cookie not set</p>
}